header 
    .header 
        a(href="#").header-logo
            img(src="image/logo.svg", alt="logo")
        nav
            ul.nav 
                li.nav-item
                    a(href="").nav-link О нас
                li.nav-item
                    a(href="").nav-link-more-services Услуги 
                //li
                    a(href="#").nav-link-dropdown-item 1 штук
                li.nav-item
                    a(href="").nav-link Вакансии
                li.nav-item
                    a(href="").nav-link Новости
                li.nav-item
                    a(href="").nav-link-more-agreements Соглашения
        ul.control
            li.control-item
                button.button-signin войти
            li.control-item
                button.button-reg зарегистрироваться