- var pageTitle = 'uikit'

doctype html 
html(lang="en")
    head 
        title= pageTitle 
        style 
            include style/normalize.css
            include style/style.css 
    body 
        include modules/header/header.pug
        h1 jops
        h2 lols